<!-- Contenedor principal del body -->
<form
    method="POST"
    action="/api/countries/remove/<%= country._id %>?_method=DELETE"
    class="flex flex-col items-center min-h-screen bg-zinc-900 py-8 px-5 justify-center">

    <section class="flex-grow flex-1">
        <div class="flex justify-end mb-4 leading-6 gap-4">
            <p class="mt-2 col-span-2 text-white text-sm ml-auto p-2 rounded-sm"><u>Advertencia</u>: Se eliminará el elemento: <%= country.name.nativeName.spa.common %>.</p>
            <button type="submit" class="cursor-pointer rounded-lg w-14 h-14 bg-red-800 hover:bg-zinc-700 border border-zinc-700 hover:border-zinc-600 text-[2em] text-center text-stone-300 hover:text-stone-100">
                x
                <p class="text-sm">borrar</p></button>
            <a class="pt-1 cursor-pointer rounded-lg w-14 h-14 bg-zinc-800 hover:bg-zinc-700 border border-zinc-700 hover:border-zinc-600 text-[2em] text-center text-stone-300 hover:text-stone-100"
            href="/api/countries/<%= country._id %>">
            ↶
            <p class="text-sm">volver</p></a>
        </div>
        <div class="md:w-180 grid md:grid-cols-2 sm:w-150 sm:grid-cols-2 text-zinc-100 flex flex-wrap justify-center gap-3 items-center py-3 px-[5vw] border border-zinc-700 bg-zinc-800 rounded-lg">
        
            <div class="md:col-span-2 sm:col-span-2 mx-auto pt-7">
                <img
                    class="text-center text-[7.2em] leading-20 rounded h-20 w-30 object-cover opacity-80"
                    src="<%= country.flags.svg %>"
                    title="<%= country.flags.alt %>"
                    alt="<%= country.flag %>">
                </img>
            </div>
            <div class="md:col-span-2 sm:col-span-2 mx-auto pb-4">
                <section class="flex">
                    <!--<label class="text-zinc-300">Nombre:&nbsp;</label>-->
                    <p class="leading-6 text-xl uppercase"><%= country.name.nativeName.spa.common %></p>
                </section>
            </div>
            <section class="flex">
                <label class="text-zinc-300">Capitales:&nbsp;</label>
                <p><%= country.capital %></p>
            </section>
            <section class="flex">
                <label class="text-zinc-300">Continentes:&nbsp;</label>
                <p><%= country.continents %></p>
            </section>
            <% if ( (country.region ) && (country.region !== country.continents[0])) { %>
                <section class="flex">
                    <label class="text-zinc-300">Region:&nbsp;</label>
                    <p><%= country.region %></p>
                </section>
            <% } %>
            <% if ( (country.subregion ) && (country.subregion !== country.continents[0])) { %>
                <section class="flex">
                    <label class="text-zinc-300">Sub-Region:&nbsp;</label>
                    <p><%= country.subregion %></p>
                </section>
            <% } %>
            <section class="flex">
                <label class="text-zinc-300">Lat/Long:&nbsp;</label>
                <p><%= country.latlng %></p>
            </section>
            <% if ( country.borders.length !== 0) { %>
                <section class="flex">
                    <label class="text-zinc-300">Límites:&nbsp;</label>
                    <p class="lowercase"><%= country.borders %></p>
                </section>
            <% } %>
            <section class="flex">
                <label class="text-zinc-300">Extensión:&nbsp;</label>
                <p><%= country.area.toLocaleString('es-ES') %> km<sup>2</sup></p>
            </section>
            <section class="flex">
                <label class="text-zinc-300">Población:&nbsp;</label>
                <p><%= country.population.toLocaleString('es-ES') %></p>
            </section>
            <section class="flex">
                <label class="text-zinc-300">Idiomas:&nbsp;</label>
                <p><%= Object.keys(country.languages) %></p>
            </section>
            <section class="flex">
                <label class="text-zinc-300">Monedas:&nbsp;</label>
                <p><%= Object.keys(country.currencies) %></p>
            </section>
            <section class="flex">
                <label class="text-zinc-300">Zona horaria:&nbsp;</label>
                <p><%= country.timezones[0] %></p>
            </section>
        </div>
    </section>
</form>